[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.areas-list-container {
    list-style-type: none;
    min-height: 300px;
    overflow-y: auto;
}

.column {
    width: 540px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    cursor: not-allowed;
}

.column-draggable {
    cursor: move !important;
}

.column .table-container {
    height: 40px;
    width: 540px;
    background-color: #fff;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    border-radius: 4px;
    border: 2px solid #4282c4;
}

.column-draggable .table-container {
    border: 2px dashed #4282c4 !important;
}

.column td.action-image img {
    height: 24px !important;
}

.column.dragElem {
    opacity: 0.4;
}

.column.over {
    border-top: 1px dashed grey;
}

.column .content {
    text-align: left;
    padding-left: 15px;
    font-family: 'Electrolux Sans';
    font-variant: small-caps;
    font-size: 12pt;
}

.column td.action-image {
    width: 20px;
}

.drag-section-header {
    width: 600px;
    text-align: center;
}
