.rgEditForm {
    width: auto !important;
}

    * + html .rgEditForm.popUpEditForm {
        width: 800px !important;
    }

    .rgEditForm > div + div,
    .RadGrid .rgEditForm {
        height: auto !important;
    }

    .rgEditForm > div > table {
        height: 100%;
    }

        .rgEditForm > div > table > tbody > tr > td {
            padding: 4px 10px;
        }

.rfdSelectBoxDropDown {
    z-index: 100011;
}

.odd-row, .even-row {
    cursor: pointer;
}

.display-inline {
    display: inline-block;
}

#block {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}
