<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="LogDB" connectionString="Server=euws1326,1433;Integrated Security=True;database=LogDB;Pooling=false;Connect Timeout=180;Trusted_connection=True"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="xmlFilePath" value="C:\temp\PRICE Messages\Request_GET_PRICE_Monitoring.xml"/>-->
    <add key="wcfB2BWebServiceURL" value="http://10.5.35.201/wcfB2b/wcfB2B.svc"/>
    <add key="wcfMethodName" value="http://euucl002.biz.electrolux.com:7080/Sales/Hybris/GetPrice"/>
    <add key="wcfUserName" value="HYBRIS_RFC"/>
    <add key="wcfPassword" value="Elux436ab"/>
    <add key="globalId" value="f8ca5753-8ba6-4f14-82ec-a98e879dcc02"/>
    <add key="sessionId" value="670F7A38-213B-4DFC-8696-64533E771FBA"/>
    <add key="EmailFrom" value="noreply.Logger@electrolux.com"/>
    <add key="ErrorEmailTo" value="hamdi.kharrat@electrolux.com"/>
    <add key="EmailSMTPServer" value="smtp.it.electrolux.com"/>
    <add key="SendReport" value="True"/>
    <add key="ReportHour" value="11"/>
    <add key="ReportMinute" value="23"/>
    <add key="ReportEmailTo" value="hamdi.kharrat@electrolux.com"/>
    <add key="MessageIntervalInSeconds" value="60"/>
  </appSettings>
<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IwcfB2B" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://euws1462.biz.electrolux.com:8080/WCFB2B/wcfB2B.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwcfB2B" contract="wcfB2BRef.IwcfB2B" name="BasicHttpBinding_IwcfB2B" />
    </client>
  </system.serviceModel>
<system.webServer>
  <security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="52428800" />
    </requestFiltering>
  </security>
  </system.webServer>
</configuration>
