<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="LogDB" connectionString="Server=DS-B2B-EU.BIZ.ELECTROLUX.COM,1433;Integrated Security=True;database=B2BManagerLite;Pooling=false;Connect Timeout=180;Trusted_connection=True" />
  </connectionStrings>
  <appSettings>
    <add key="ErrorEmailFrom" value="noreply.Logger@electrolux.com" />
    <add key="ErrorEmailTo" value="hamdi.kharrat@electrolux.com" />
    <add key="SMTPServer" value="smtp.it.electrolux.com" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="GridAutoRefreshTimeInSeconds" value="300" />
    <add key="GridAutoRefreshCheckedByDefault" value="false" />
    <add key="debugMode" value="off"></add>
    <add key="Environment" value="STAGING"></add>
    <add key="InstanceName" value="B2B Manager" />
    <add key="IsLiteVersion" value="True" />
    <add key="LoginImageUrl" value="Images/loginbg2.png" />
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms name=".ASPXFORMSDEMO" loginUrl="Login.aspx" protection="All" path="/" timeout="180" />
    </authentication>
    <compilation strict="false" explicit="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" maxRequestLength="2147483647" executionTimeout="600" />
    <machineKey validationKey="6E034A05310329992377A8CA57F8FD2B24A9488ADB072D5D7FE1441470D7D8FD" decryptionKey="C18DF8817D41C13E571382C239A78E67450F16CEF6BB26D5" validation="HMACSHA256" decryption="3DES" />
    <!--<sessionState timeout="120" />-->
    <sessionState mode="SQLServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=DS-B2B-EU.BIZ.ELECTROLUX.COM,1433;Integrated Security=True;database=ASPStateV2" allowCustomSqlDatabase="true" cookieless="false" timeout="180" />
  </system.web>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CSS">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="fonts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Logger.svc">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <services>
      <service name="MasterData">
        <endpoint address="" behaviorConfiguration="MasterDataAspNetAjaxBehavior" binding="webHttpBinding" contract="MasterData" />
      </service>
      <service name="B2BManagerService">
        <endpoint address="" behaviorConfiguration="B2BManagerServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="B2BManagerService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MasterDataAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="B2BManagerServiceAspNetAjaxBehavior">
          <enableWebScript />
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IInsightsDataService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://euws1463.biz.electrolux.com:8080/InsightsMasterServiceLite/InsightsDataService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInsightsDataService" contract="InsightsDataService.IInsightsDataService" name="BasicHttpBinding_IInsightsDataService" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <!--<staticContent>
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
<!--ProjectGuid: eea7f2ac-e76d-4472-bd9c-f50350745382-->