<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
	  <add name="ConnexionB2BCMS" connectionString="Server=DT-B2B-EU.BIZ.ELECTROLUX.COM,1433;Integrated Security=True;database=B2BCMS_V2;Pooling=false;Connect Timeout=180;Trusted_connection=True" />
	  <add name="ConnexionB2B" connectionString="Server=DT-B2B-EU.BIZ.ELECTROLUX.COM,1433;Integrated Security=True;database=B2B_V2;Pooling=false;Connect Timeout=180;Trusted_connection=True" />
	  <add name="LogDB" connectionString="Server=DT-B2B-EU.BIZ.ELECTROLUX.COM,1433;Integrated Security=True;database=B2BManager;Pooling=false;Connect Timeout=180;Trusted_connection=True" />
	  <add name="SQLCnx_Test" connectionString="Server=DS-B2B-EU.BIZ.ELECTROLUX.COM,1433;trusted_connection=TRUE;database=TP2Log_Test;Pooling=false" />
	  <add name="SQLCnx_Prod" connectionString="Server=DD-B2B-EU.BIZ.ELECTROLUX.COM,1433;trusted_connection=TRUE;database=TP2Log_Prod;Pooling=false" />
	  <add name="TP" connectionString="Server=DT-B2B-EU.BIZ.ELECTROLUX.COM,1433;trusted_connection=TRUE;database=TP;Pooling=false" />
	  <add name="TPStaging" connectionString="Server=EUWS0985,1433;trusted_connection=TRUE;database=TP;Pooling=false"/>
	  <add name="TPTest" connectionString="Server=DT-B2B-EU.BIZ.ELECTROLUX.COM,1433;trusted_connection=TRUE;database=TP;Pooling=false"/>
	  <add name="TPProd" connectionString="Server=DP-B2B-EU.BIZ.ELECTROLUX.COM,1433;trusted_connection=TRUE;database=TP;Pooling=false" />
	  <add name="TPHisto" connectionString="Server=DT-B2B-EU.BIZ.ELECTROLUX.COM,1433;trusted_connection=TRUE;database=TPHISTORY;Pooling=false" />
	  <add name="TPHistoProd" connectionString="Server=DP-B2B-EU.BIZ.ELECTROLUX.COM,1433;trusted_connection=TRUE;database=TPHISTORY;Pooling=false" />
  </connectionStrings>
  <appSettings>
    <add key="SessionID" value="E2C25494-EBA0-4E2F-8CFD-0AE77F1628F8"/>
    <add key="ErrorEmailFrom" value="noreply.B2BManager@electrolux.com"/>
    <add key="ErrorEmailTo" value="hamza.aloui@electrolux.com"/>
    <add key="SMTPServer" value="smtp.it.electrolux.com"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="GridAutoRefreshTimeInSeconds" value="300"/>
    <add key="GridAutoRefreshCheckedByDefault" value="false"/>
    <add key="UseCacheForDataSearchInLogViewer" value="true"/>
    <add key="EluxBotService.EluxBotService" value="http://euws1462:70/EluxBot/EluxBotService.asmx"/>
    <add key="WebCacheManager.WebCacheManager" value="http://localhost:65003/WebCacheManager.asmx"/>
    <add key="debugMode" value="off"/>
    <add key="Environment" value="TEST"/>
    <!--<add key="InstanceSubName" value="Beta"/>-->
	  <add key="InstanceName" value="B2B Manager"/>
	  <add key="LoginImageUrl" value="Images/banner-electrolux.jpg"/>
    <add key="LoginBackgroundOpacity" value="0.65"/>
    <add key="IntervalTimeToSendOrder" value="500"/>
    <add key="B2BManagerSvcRelativeUrl" value="/B2BManagerService.svc"/>
    <add key="B2BCrypteKey" value="#1q8d7fz%!"/>
	  <add key="MigratedToNewTradeplaceIDSystem" value="OSJ,DGM,LXD,BEN,HOL,GBW,EID,SPW,POR,DKM,FSH,OFL,ES,SCH,FRM,CRE,CSM,SIM,ETM,GRZ,HUE,LTM,LIM,PLM,ROB,SOM,UKR"/>
	  <add key="deniedEnvironments" value="6,1,8,34,40,43,47,49,58,69"/>
	  <add key="B2BCrypteKey" value="#1q8d7fz%!" />

	  <!--Project APIClient-->
	  <add key="NotificationsApiKey" value="7B0D5LM6XIGST0Z1R4T6XAH8QXAVZG04" />
	  <add key="NotificationsApiDevUrl" value="https://localhost:7051/" />
    <add key="NotificationsApiTestUrl" value="https://b2btest.electrolux.net/APIEmailManagement/" />
    <!--<add key="NotificationsApiTestUrl" value="https://localhost:7051/"/>-->
	  <add key="NotificationsApiUatUrl" value="https://localhost:7051/" />
	  <add key="NotificationsApiProdUrl" value="https://localhost:7051/" />
	  
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms name=".ASPXFORMSDEMO" loginUrl="Login.aspx" protection="All" path="/" timeout="180"/>
    </authentication>
    <compilation strict="false" explicit="true" targetFramework="4.5.1" debug="true"/>
    <httpRuntime targetFramework="4.5.1" maxRequestLength="2147483647" executionTimeout="600"/>
    <machineKey validationKey="6E034A05310329992377A8CA57F8FD2B24A9488ADB072D5D7FE1441470D7D8FD" decryptionKey="C18DF8817D41C13E571382C239A78E67450F16CEF6BB26D5" validation="HMACSHA256" decryption="3DES"/>
    <!--<sessionState timeout="120" />-->
    <sessionState mode="SQLServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=DS-B2B-EU.BIZ.ELECTROLUX.COM,1433;Integrated Security=True;database=ASPStateV2" allowCustomSqlDatabase="true" cookieless="false" timeout="180"/>
    <authorization>
      <deny users="?"/>
    </authorization>
    <customErrors mode="RemoteOnly" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="404.aspx"/>
    </customErrors>
  </system.web>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CSS">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="404.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="fonts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Logger.svc">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="B2BManagerService.svc">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <services>
      <service name="MonitoringDataService">
        <endpoint address="http://euws1349:80/B2BManagerTest/MonitoringDataService.svc" behaviorConfiguration="MonitoringDataServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="MonitoringDataService"/>
      </service>
      <service name="MasterData">
        <endpoint address="http://euws1349:80/B2BManagerTest/MasterData.svc" behaviorConfiguration="MasterDataAspNetAjaxBehavior" binding="webHttpBinding" contract="MasterData"/>
      </service>
      <service name="B2BManagerService">
        <endpoint address="" behaviorConfiguration="B2BManagerServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="B2BManagerService" bindingConfiguration="ExtendedMaxSize"/>
      </service>
      <service name="WebCacheManagerService">
        <endpoint address="http://euws1349:80/B2BManagerTest/WebCacheManagerService.svc" behaviorConfiguration="WebCacheManagerServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="WebCacheManagerService"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MonitoringDataServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="MasterDataAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="B2BManagerServiceAspNetAjaxBehavior">
          <enableWebScript/>
          <webHttp defaultOutgoingResponseFormat="Json"/>
        </behavior>
        <behavior name="WebCacheManagerServiceAspNetAjaxBehavior">
          <enableWebScript/>
          <webHttp defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false"/>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IwcfB2B" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IInsightsDataService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" />
		<binding name="FileServerWSSoap" maxReceivedMessageSize="2147483647">
		</binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="ExtendedMaxSize" maxBufferSize="2147483647" maxBufferPoolSize="524288"
          maxReceivedMessageSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
        <endpoint address="http://euws1462.biz.electrolux.com:8080/UAT/WCFB2B/wcfB2B.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwcfB2B"
            contract="wcfB2BRef.IwcfB2B" name="BasicHttpBinding_IwcfB2B" />
        <endpoint address="http://euws1463.biz.electrolux.com:8080/InsightsMasterService/InsightsDataService.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInsightsDataService"
            contract="InsightsDataService.IInsightsDataService" name="BasicHttpBinding_IInsightsDataService" />
	    <endpoint address="http://euws1349.biz.electrolux.com:9122/FileServerWS.asmx"
		  binding="basicHttpBinding" bindingConfiguration="FileServerWSSoap"
		  contract="FileServerWS.FileServerWSSoap" name="FileServerWSSoap">
		</endpoint>
    </client>
  </system.serviceModel>
  <system.webServer>
    <!--<staticContent>
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800"/>
      </requestFiltering>
    </security>
    <httpErrors errorMode="Custom">
      <remove statusCode="404"/>
      <error statusCode="404" path="404.aspx" responseMode="Redirect"/>
    </httpErrors>
    <defaultDocument>
      <files>
		  <remove value="default.aspx"/>
        <add value="Home.aspx"/>
      </files>
    </defaultDocument>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
</configuration>