<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="LogDB" connectionString="Server=euws1325,1433;Integrated Security=True;database=B2BManager;Pooling=false;Connect Timeout=180;Trusted_connection=True"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ErrorEmailFrom" value="noreply.MonitoringDataService@electrolux.com"/>
    <add key="ErrorEmailTo" value="hamdi.kharrat@electrolux.com"/>
    <add key="SMTPServer" value="smtp.it.electrolux.com"/>
    <add key="TEMPCacheItemsAbsoluteExpirationValueInMinutes" value="30"/>
    <add key="CacheItemsAbsoluteExpirationValueInHours" value="8"/>
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
