<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IwcfB2B" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://euws1462.biz.electrolux.com:8080/UAT/WCFB2B/wcfB2B.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwcfB2B"
        contract="wcfB2BRef.IwcfB2B" name="BasicHttpBinding_IwcfB2B" />
    </client>
  </system.serviceModel>
</configuration>