@font-face {
	font-family: 'Electrolux_Regular';
	src: url('./electrolux_regular.woff');
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Electrolux_Regular;
}

.PageContainerPopup {
	height: 100%;
}

.Container {
	height: 11%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.FooterPopup {
	background: #041e41;
	height: 11%;
}

.BodyContainerPopup {
	background-image: url(./Image_login.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	overflow: hidden;
	height: 72%;
}

.CenterPanel {
	text-align: center;
	width: 370px;
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 200px;
	padding: 25px;
}

.LeftPanel-Chiron {
	font-family: Metric, Arial, sans-serif;
	text-align: left;
	width: 700px;
	position: absolute;
	top: 30%;
	left: 50px;
	transform: translateY(-50%);
	height: 200px;
	padding: 25px;
}

.FooterPopup-Chiron {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
}

.BodyContainerPopup-Chiron {
	height: 72%;
}

/****************************************************************Start Design Text*******************************************/

/* AEG-Specific Styling */
.aeg-style {
	color: #fff;
}

/* ELX-Specific Styling */
.elx-style {
	color: #011e41; /* Dark blue text */
}

	/* Title Styles */
	.aeg-style #MsgENTitle, .aeg-style #MsgDETitle, .aeg-style #MsgFRTitle,
	.elx-style #MsgENTitle, .elx-style #MsgDETitle, .elx-style #MsgFRTitle {
		font-weight: 500;
		font-size: 48px;
	}

	/* Line 1 Styles */
	.aeg-style #MsgENLine1, .aeg-style #MsgDELine1, .aeg-style #MsgFRLine1,
	.elx-style #MsgENLine1, .elx-style #MsgDELine1, .elx-style #MsgFRLine1 {
		font-weight: 400;
		font-size: 20px;
	}


/***************************************************************End Style Texts*********************************************/

.body-elx {
	background: #fff;
}

.body-aeg {
	background: #21201f;
}
